[submodule "pack/vendor/start/nerdtree"]
	path = pack/vendor/start/nerdtree
    url = https://github.com/preservim/nerdtree.git
[submodule "pack/vendor/start/python-mode"]
	path = pack/vendor/start/python-mode
	url = https://github.com/python-mode/python-mode.git
[submodule "pack/vendor/start/vem-tabline"]
	path = pack/vendor/start/vem-tabline
	url = https://github.com/pacha/vem-tabline.git
[submodule "pack/vendor/start/vem-statusline"]
	path = pack/vendor/start/vem-statusline
	url = https://github.com/pacha/vem-statusline.git
[submodule "pack/vendor/start/vim-indent-object"]
	path = pack/vendor/start/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule "pack/vendor/start/quick-scope"]
	path = pack/vendor/start/quick-scope
	url = https://github.com/unblevable/quick-scope.git
[submodule "pack/vendor/start/vim-commentary"]
	path = pack/vendor/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "pack/vendor/start/VimCompletesMe"]
	path = pack/vendor/start/VimCompletesMe
	url = git://github.com/ajh17/VimCompletesMe.git
[submodule "pack/vendor/start/vim-surround"]
	path = pack/vendor/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "pack/vendor/start/editorconfig"]
	path = pack/vendor/start/editorconfig
	url = git@github.com:editorconfig/editorconfig-vim.git
